.button{
  border-radius: 7px;
  background: var(--color-purple);
  padding: 12px 20px;
  border: none;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.button:disabled{
  filter: grayscale(1);
  transition: all 0.2s;

}
