@import './assets/fonts/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexMono', Roboto, sans-serif;
}

:root {
  --bg-grey: #c3bfc6;
  --color-purple: #985ace;
  --color-white: #fff;
  --bg-pink: #f8f1ff;
  --white: #fff;
  --black: #000;
}
